{% extends 'base.html' %}

{% block title %}ThreadMill - Edit{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <h3 class="text-center m-4">Editing comment in <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h3>

        {% if user.is_authenticated %}

        <form method="post">
            {% csrf_token %}

            <div class="form-floating my-3">
                {% if form.content.value %}
                    {% if form.content.errors %}
                    <textarea style="height: 300px" class="form-control is-invalid" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required>{{ form.content.value }}</textarea>
                    <div class="invalid-feedback">{{ form.content.errors.0 }}</div> 
                    {% else %}
                    <textarea style="height: 300px" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required>{{ form.content.value }}</textarea>
                    {% endif %}
                {% else %}
                <textarea style="height: 300px" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required></textarea>
                {% endif %}
                <label for="{{ form.content.id_for_label }}">Content</label>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Save">

        </form>

        {% else %}
        <div class="row my-4 shadow p-4 text-center">Please sign in to edit.</div>
        {% endif %}
        
    </div>
</div>

{% endblock content %}