{% extends 'base.html' %}

{% block title %}ThreadMill - Home{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        {% if messages %}
        {% for message in messages %}
        {% comment %} {% if not "search_form_value" in message.tags %} {% endcomment %}
        <div class="row card my-2 border-danger">
            <div class="card-body">
                <p class="card-text">{{ message }}</p>
            </div>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
        {% endif %}

        {% if post_list %}
            {% load template_filters %}

            {% for p in post_list %}
            <div class="row card my-4 shadow">
                <div class="card-header text-body-secondary py-0 px-2 d-flex">
                    
                    {% if not p.author == user %}

                        <a class="{{ upvote_class|dict_lookup:p.id }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' p.id p.id 0 1 'posts:index' %}"><i class="bi bi-hand-thumbs-up mx-1"> Upvote</i></a>
                        <a class="{{ downvote_class|dict_lookup:p.id }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' p.id p.id 0 0 'posts:index' %}"><i class="bi bi-hand-thumbs-down mx-1"> Downvote</i></a>
                    
                    {% endif %}

                    <span class="ms-auto">{{ p.vote_rating }} <i class="bi bi-stars"></i></span>
                
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' p.id %}">{{ p.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <a class="link-underline link-underline-opacity-0" href="{% url 'accounts:profile' p.author.slug %}">{{ p.author.username }}</a>
                    </h6>
                </div>
                <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                    <i class="bi bi-chat-left-text mx-2"></i>
                    <span>{{ comment_count_list|dict_lookup:p.id }}</span>

                    {% if user.is_authenticated and p.author == user %}
                        <i class="bi bi-pencil-square mx-2"></i>
                        <a class="link-underline link-underline-opacity-0 p-0 m-0" href="{% url 'posts:edit' p.id %}">Edit</a>

                        <i class="bi bi-x-square mx-2"></i>
                        <form class="form-inline p-0 m-0 d-flex" id="deleteForm" action="{% url 'posts:delete' p.id %}" method="get">
                            {% csrf_token %}
                            <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteForm').submit();" style="cursor: pointer;">Delete</a>
                        </form>
                        {% comment %} <a class="link-underline link-underline-opacity-0" href="{% url 'posts:delete' p.id %}">Delete</a> {% endcomment %}
                    {% endif %}

                    <span class="ms-auto">{{ p.pub_date }}</span>
                </div>
            </div>
            {% endfor %}

        {% else %}
            <div class="row my-4 shadow p-4 text-center">Looks like there isn't anything here.</div>
        {% endif %}

    </div>
</div>
{% endblock content %}