{% extends 'base.html' %}

{% block title %}ThreadMill - Delete{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <h3 class="text-center m-4">Delete Thread</h3>

        {% if user.is_authenticated %}

        <div class="row card my-4 shadow">
            <div class="card-header text-body-secondary py-0 px-2 d-flex">
                <span class="ms-auto">{{ object.vote_rating }} <i class="bi bi-stars"></i></span>
            </div>
            <div class="card-body">
                <h3 class="card-title"><a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' object.id %}">{{ object.title }}</a></h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <a class="link-underline link-underline-opacity-0" href="{% url 'accounts:profile' object.author.slug %}">{{ object.author.username }}</a>
                </h6>
                <p class="card-text">{{ object.content }}</p>
            </div>
            <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                <span class="ms-auto">{{ object.pub_date }}</span>
            </div>
        </div>

        <div class="row card my-4 shadow py-2">
            <form class="form-inline d-flex" method="post">{% csrf_token %}
                <p>Are you sure you want to delete this?</p>
                <input class="btn btn-primary ms-auto" type="submit" value="Confirm">
            </form>
        </div>

        {% else %}
        <div class="row my-4 shadow p-4 text-center">Please sign in to delete.</div>
        {% endif %}
        
    </div>
</div>

{% endblock content %}