{% extends 'base.html' %}

{% block title %}ThreadMill - {{ post.title }}{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        {% if messages %}
        {% for message in messages %}
        {% comment %} {% if not "search_form_value" in message.tags %} {% endcomment %}
        <div class="row card my-2 border-danger">
            <div class="card-body">
                <p class="card-text">{{ message }}</p>
            </div>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
        {% endif %}

        {% comment %} Post {% endcomment %}

        <div class="row card my-4 shadow">
            <div class="card-header text-body-secondary py-0 px-2 d-flex">

                {% if not post.author == user %}

                <a class="{{ upvote_class }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' post.id post.id 0 1 'posts:detail' %}"><i class="bi bi-hand-thumbs-up mx-1"> Upvote</i></a>
                <a class="{{ downvote_class }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' post.id post.id 0 0 'posts:detail' %}"><i class="bi bi-hand-thumbs-down mx-1"> Downvote</i></a>
                
                {% endif %}
                
                <span class="ms-auto">{{ post.vote_rating }} <i class="bi bi-stars"></i></span>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <a class="link-underline link-underline-opacity-0" href="{% url 'accounts:profile' post.author.slug %}">{{ post.author.username }}</a>
                </h6>
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                {% if user.is_authenticated and post.author == user %}
                    <i class="bi bi-pencil-square mx-2"></i>
                    <a class="link-underline link-underline-opacity-0" href="{% url 'posts:edit' post.id %}">Edit</a>

                    <i class="bi bi-x-square mx-2"></i>
                    <form class="form-inline p-0 m-0 d-flex" id="deleteForm" action="{% url 'posts:delete' post.id %}" method="get">
                        {% csrf_token %}
                        <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteForm').submit();" style="cursor: pointer;">Delete</a>
                    </form>
                {% endif %}

                <span class="ms-auto">{{ post.pub_date }}</span>
            </div>
        </div>

        {% comment %} End of Post {% endcomment %}

        {% comment %} Comments {% endcomment %}

        {% for comment in comments %}

        <div class="row my-4">

            <div class="col-auto">
                <i class="bi bi-chat-left-text"></i>
            </div>

            <div class="col card shadow m-0 p-0">
                <div class="card-header text-body-secondary py-0 px-2 d-flex">
                    
                    {% load template_filters %}

                    {% if not comment.author == user %}

                    <a class="{{ comments_upvote_class|dict_lookup:comment.id }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' post.id comment.id 1 1 'posts:detail' %}"><i class="bi bi-hand-thumbs-up mx-1"> Upvote</i></a>
                    <a class="{{ comments_downvote_class|dict_lookup:comment.id }} link-underline link-underline-opacity-0" href="{% url 'posts:vote' post.id comment.id 1 0 'posts:detail' %}"><i class="bi bi-hand-thumbs-down mx-1"> Downvote</i></a>
                    
                    {% endif %}
                    
                    <span class="ms-auto">{{ comment.vote_rating }} <i class="bi bi-stars"></i></span>
                
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <a class="link-underline link-underline-opacity-0" href="{% url 'accounts:profile' comment.author.slug %}">{{ comment.author.username }}</a>
                    </h6>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
                <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                    {% if user.is_authenticated and comment.author == user %}
                        <i class="bi bi-pencil-square mx-2"></i>
                        <a class="link-underline link-underline-opacity-0" href="{% url 'posts:edit_comment' post.id comment.id %}">Edit</a>

                        <i class="bi bi-x-square mx-2"></i>
                        <form class="form-inline p-0 m-0 d-flex" id="deleteCommentForm" action="{% url 'posts:delete_comment' post.id comment.id %}" method="get">
                            {% csrf_token %}
                            <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteCommentForm').submit();" style="cursor: pointer;">Delete</a>
                        </form>
                    {% endif %}
                    
                    <span class="ms-auto">{{ comment.pub_date }}</span>
                </div>
            </div>

        </div>

        {% endfor %}

        {% comment %} End of Comments {% endcomment %}

        <div class="row card my-4 py-4 px-2 shadow">
            <h5 class="text-center">
                <i class="bi bi-chat-left-text"></i>
                Leave a comment
            </h5>
            <form action="" method="post">
                {% csrf_token %}
                
                <div class="form-floating my-3">
                    {% if form.content.value %}
                    {% if form.content.errors %}
                    <textarea style="height: 300px" class="form-control is-invalid" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required>{{ form.content.value }}</textarea>
                    <div class="invalid-feedback">{{ form.content.errors.0 }}</div> 
                    {% else %}
                    <textarea style="height: 300px" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required>{{ form.content.value }}</textarea>
                    {% endif %}
                    {% else %}
                    <textarea style="height: 300px" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" placeholder="" required></textarea>
                    {% endif %}
                    <label for="{{ form.content.id_for_label }}">Comment</label>
                </div>
                
                <input class="btn btn-primary" type="submit" value="Comment">
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}