{% extends 'base.html' %}

{% block title %}ThreadMill - Search{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        {% if messages %}
        {% for message in messages %}
        <div class="row card my-2 border-danger">
            <div class="card-body">
                <p class="card-text">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if hits %}
            {% load template_filters %}
            {% for hit in hits %}
            <div class="row my-4">
                {% if hit.title == None %}
                <div class="col-auto">
                    <i class="bi bi-chat-left-text"></i>
                </div>
                {% endif %}

                <div class="col card shadow m-0 p-0">
                    <div class="card-header text-body-secondary py-0 px-2 d-flex">
                        {% if hit.title == None %}
                        <span class="ms-2 me-1">...</span>
                        <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' comments|get_comment_parent_object_id:hit.id %}"> {{ comments|get_comment_parent_object_title:hit.id }}</a>
                        {% endif %}
                        <span class="ms-auto">{{ hit.vote_rating }} <i class="bi bi-stars"></i></span>
                    </div>
                    <div class="card-body">
                        {% if hit.title != None %}
                        <h5 class="card-title">
                            <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' hit.id %}">{{ hit.title }}</a>
                        </h5>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ hit.author.username }}</h6>
                        {% if hit.title == None %}
                        <p class="card-text">{{ hit.content }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                        {% if hit.title != None %}
                        <i class="bi bi-chat-left-text mx-2"></i>
                        <span>{{ comment_count_list|dict_lookup:hit.id }}</span>
                        {% endif %}

                        {% if user.is_authenticated and hit.author == user %}

                            {% if hit.title != None %}

                                <i class="bi bi-pencil-square mx-2"></i>
                                <a class="link-underline link-underline-opacity-0 p-0 m-0" href="{% url 'posts:edit' hit.id %}">Edit</a>

                                <i class="bi bi-x-square mx-2"></i>
                                <form class="form-inline p-0 m-0 d-flex" id="deleteForm" action="{% url 'posts:delete' hit.id %}" method="get">
                                    {% csrf_token %}
                                    <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteForm').submit();" style="cursor: pointer;">Delete</a>
                                </form>

                            {% else %}
                            
                                <i class="bi bi-pencil-square mx-2"></i>
                                <a class="link-underline link-underline-opacity-0" href="{% url 'posts:edit_comment' comments|get_comment_parent_object_id:hit.id hit.id %}">Edit</a>
        
                                <i class="bi bi-x-square mx-2"></i>
                                <form class="form-inline p-0 m-0 d-flex" id="deleteCommentForm" action="{% url 'posts:delete_comment' comments|get_comment_parent_object_id:hit.id hit.id %}" method="get">
                                    {% csrf_token %}
                                    <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteCommentForm').submit();" style="cursor: pointer;">Delete</a>
                                </form>
                            
                            {% endif %}


                        {% endif %}

                        <span class="ms-auto">{{ hit.pub_date }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        {% else %}
        <div class="row my-4 shadow p-4 text-center">No results matching your search were found.</div>
        {% endif %}

    </div>
</div>
{% endblock content %}