{% extends 'base.html' %}

{% block title %}ThreadMill - Profile{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        {% if messages %}
        {% for message in messages %}
        {% comment %} {% if not "search_form_value" in message.tags %} {% endcomment %}
        <div class="row card my-2 border-danger">
            <div class="card-body">
                <p class="card-text">{{ message }}</p>
            </div>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}

        <div class="row card my-4 pt-3 py-2 ps-1 border-primary-subtle">
            <h4>{{ object.username }}'s Profile</h4>
        </div>

        <div class="row my-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="threads-tab" data-bs-toggle="tab" data-bs-target="#threads-tab-pane" type="button" role="tab" aria-controls="threads-tab-pane" aria-selected="true">Threads</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="comments-tab-pane" aria-selected="false">Comments</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="votes-tab" data-bs-toggle="tab" data-bs-target="#votes-tab-pane" type="button" role="tab" aria-controls="votes-tab-pane" aria-selected="false">Votes</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                {% comment %} Threads {% endcomment %}

                <div class="tab-pane fade show active" id="threads-tab-pane" role="tabpanel" aria-labelledby="threads-tab" tabindex="0">

                {% if posts %}
                    {% load template_filters %}

                    {% for post in posts %}
                    <div class="row card my-4 shadow">
                        <div class="card-header text-body-secondary py-0 px-2 d-flex">
                            <span class="ms-auto">{{ post.vote_rating }} <i class="bi bi-stars"></i></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' post.id %}">{{ post.title }}</a>
                            </h5>
                            {% comment %} <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.author.username }}</h6> {% endcomment %}
                        </div>
                        <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">
                            <i class="bi bi-chat-left-text mx-2"></i>
                            <span>{{ comment_count_list|dict_lookup:post.id }}</span>

                            {% if user.is_authenticated and post.author == user %}
                                <i class="bi bi-pencil-square mx-2"></i>
                                <a class="link-underline link-underline-opacity-0 p-0 m-0" href="{% url 'posts:edit' post.id %}">Edit</a>

                                <i class="bi bi-x-square mx-2"></i>
                                <form class="form-inline p-0 m-0 d-flex" id="deleteForm" action="{% url 'posts:delete' post.id %}" method="get">
                                    {% csrf_token %}
                                    <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteForm').submit();" style="cursor: pointer;">Delete</a>
                                </form>
                            {% endif %}

                            <span class="ms-auto">{{ post.pub_date }}</span>
                        </div>
                    </div>
                    {% endfor %}

                {% else %}
                    <div class="row my-4 shadow p-4 text-center">No threads yet.</div>
                {% endif %}

                </div>

                {% comment %} Comments {% endcomment %}

                <div class="tab-pane fade" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="0">

                {% if comments %}
                {% load template_filters %}

                {% for comment in comments %}
                
                <div class="row my-4">
                    <div class="col-auto">
                        <i class="bi bi-chat-left-text"></i>
                    </div>

                    <div class="col card shadow m-0 p-0">
                        <div class="card-header text-body-secondary py-0 px-2 d-flex">
                            <span class="ms-2 me-1">...</span><a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' comment.parent_object.id %}"> {{ comment.parent_object.title }}</a>
                            <span class="ms-auto">{{ comment.vote_rating }} <i class="bi bi-stars"></i></span>
                        </div>
                        <div class="card-body">
                            {% comment %} <h6 class="card-subtitle mb-2 text-body-secondary">{{ comment.author.username }}</h6> {% endcomment %}
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                        <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">

                            {% if user.is_authenticated and comment.author == user %}
                                <i class="bi bi-pencil-square mx-2"></i>
                                <a class="link-underline link-underline-opacity-0" href="{% url 'posts:edit_comment' comment.parent_object.id comment.id %}">Edit</a>
        
                                <i class="bi bi-x-square mx-2"></i>
                                <form class="form-inline p-0 m-0 d-flex" id="deleteCommentForm" action="{% url 'posts:delete_comment' comment.parent_object.id comment.id %}" method="get">
                                    {% csrf_token %}
                                    <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteCommentForm').submit();" style="cursor: pointer;">Delete</a>
                                </form>
                            {% endif %}
                            
                            <span class="ms-auto">{{ comment.pub_date }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                    <div class="row my-4 shadow p-4 text-center">No comments yet.</div>
                {% endif %}

                </div>

                {% comment %} Votes {% endcomment %}

                <div class="tab-pane fade" id="votes-tab-pane" role="tabpanel" aria-labelledby="votes-tab" tabindex="0">

                {% if votes %}
                {% load template_filters %}

                {% for vote in votes %}
                <div class="row my-4">

                    {% if vote.vote_type %}
                    <div class="col-auto">
                        <i class="text-success bi bi-hand-thumbs-up"></i>
                    </div>
                    {% else %}
                    <div class="col-auto">
                        <i class="text-danger bi bi-hand-thumbs-down"></i>
                    </div>
                    {% endif %}

                    {% if not vote.voted_object.title %}
                    <div class="col-auto">
                        <i class="bi bi-chat-left-text"></i>
                    </div>
                    {% endif %}

                    <div class="col card shadow m-0 p-0">

                        <div class="card-header text-body-secondary py-0 px-2 d-flex">

                            {% if not vote.voted_object.title %}
                            <span class="ms-2 me-1">...</span><a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' vote.voted_object.parent_object.id %}"> {{ vote.voted_object.parent_object.title }}</a>
                            {% endif %}

                            <span class="ms-auto">{{ vote.voted_object.vote_rating }} <i class="bi bi-stars"></i></span>
                            
                        </div>
                        <div class="card-body">

                            {% if vote.voted_object.title %}
                            <h5 class="card-title">
                                <a class="link-underline link-underline-opacity-0" href="{% url 'posts:detail' vote.voted_object.id %}">{{ vote.voted_object.title }}</a>
                            </h5>
                            {% endif %}

                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                <a class="link-underline link-underline-opacity-0" href="{% url 'accounts:profile' vote.voted_object.author.slug %}">{{ vote.voted_object.author.username }}</a>
                            </h6>

                            {% if not vote.voted_object.title %}
                            <p class="card-text">{{ vote.voted_object.content }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-body-secondary text-end py-0 px-2 d-flex">

                            {% if user.is_authenticated and vote.voted_object.author == user %}

                                {% if vote.voted_object.title %}

                                    <i class="bi bi-pencil-square mx-2"></i>
                                    <a class="link-underline link-underline-opacity-0 p-0 m-0" href="{% url 'posts:edit' vote.voted_object.id %}">Edit</a>

                                    <i class="bi bi-x-square mx-2"></i>
                                    <form class="form-inline p-0 m-0 d-flex" id="deleteForm" action="{% url 'posts:delete' vote.voted_object.id %}" method="get">
                                        {% csrf_token %}
                                        <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteForm').submit();" style="cursor: pointer;">Delete</a>
                                    </form>

                                {% else %}
                                
                                    <i class="bi bi-pencil-square mx-2"></i>
                                    <a class="link-underline link-underline-opacity-0" href="{% url 'posts:edit_comment' vote.voted_object.parent_object.id vote.voted_object.id %}">Edit</a>
            
                                    <i class="bi bi-x-square mx-2"></i>
                                    <form class="form-inline p-0 m-0 d-flex" id="deleteCommentForm" action="{% url 'posts:delete_comment' vote.voted_object.parent_object.id vote.voted_object.id %}" method="get">
                                        {% csrf_token %}
                                        <a class="link-underline link-underline-opacity-0 p-0 m-0" onclick="document.getElementById('deleteCommentForm').submit();" style="cursor: pointer;">Delete</a>
                                    </form>
                                
                                {% endif %}

                            {% endif %}

                            <span class="ms-auto">{{ vote.voted_object.pub_date }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                    <div class="row my-4 shadow p-4 text-center">No votes yet.</div>
                {% endif %}

                </div>
            </div>
        </div>

        {% else %}
        <div class="row my-4 shadow p-4 text-center">Please sign in to view profile.</div>
        {% endif %}

    </div>
</div>
{% endblock content %}