{% extends 'base.html' %}

{% block title %}ThreadMill - Sign In{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">

        {% if messages %}
            {% for message in messages %}
            {% comment %} {% if not "search_form_value" in message.tags %} {% endcomment %}
            <div class="row card my-2 border-danger">
                <div class="card-body">
                    <p class="card-text">{{ message }}</p>
                </div>
            </div>
            {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
        {% endif %}

        <h3 class="text-center m-4">Sign In</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating my-3">
                {% if form.login_cred.value %}
                    {% if form.login_cred.errors %}
                    <input type="text" class="form-control is-invalid" id="{{ form.login_cred.id_for_label }}" name="{{ form.login_cred.html_name }}" value="{{ form.login_cred.value }}" placeholder="" required>
                    <div class="invalid-feedback">{{ form.login_cred.errors.0 }}</div>              
                    {% else %}
                    <input type="text" class="form-control" id="{{ form.login_cred.id_for_label }}" name="{{ form.login_cred.html_name }}" value="{{ form.login_cred.value }}" placeholder="" required>
                    {% endif %}
                {% else %}
                <input type="text" class="form-control" id="{{ form.login_cred.id_for_label }}" name="{{ form.login_cred.html_name }}" placeholder="" required>
                {% endif %}
                <label for="{{ form.login_cred.id_for_label }}">E-mail or Username</label>
            </div>

            <div class="form-floating my-3">
                {% if form.password.value %}
                    {% if form.password.errors %}
                    <input type="password" class="form-control is-invalid" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value }}" placeholder="" required>
                    <div class="invalid-feedback">{{ form.password.errors.0 }}</div> 
                    {% else %}
                    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value }}" placeholder="" required>
                    {% endif %}
                {% else %}
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="" required>
                {% endif %}
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Sign In">
        </form>

    </div>
</div>
{% endblock content %}