{% extends 'base.html' %}

{% block title %}ThreadMill - Sign Up{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <h3 class="text-center m-4">Create an Account</h3>
        <form method="post">
            {% csrf_token %}

            <div class="form-floating my-3">
                {% if form.username.value %}
                    {% if form.username.errors %}
                    <input type="text" class="form-control is-invalid" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value }}" placeholder="" required aria-describedby="usernameHelp">
                    <div class="invalid-feedback">{{ form.username.errors.0 }}</div>              
                    {% else %}
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value }}" placeholder="" required aria-describedby="usernameHelp">
                    {% endif %}
                {% else %}
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="" required aria-describedby="usernameHelp">
                {% endif %}
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <div id="usernameHelp" class="form-text">Posts you make will be displayed under this username.</div>
            </div>

            <div class="form-floating my-3">
                {% if form.email.value %}
                    {% if form.email.errors %}
                    <input type="email" class="form-control is-invalid" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value }}" placeholder="" required>
                    <div class="invalid-feedback">{{ form.email.errors.0 }}</div>              
                    {% else %}
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value }}" placeholder="" required>
                    {% endif %}
                {% else %}
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="" required>
                {% endif %}
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            </div>

            <div class="form-floating my-3">
                {% if form.password.value %}
                    {% if form.password.errors %}
                    <input type="password" class="form-control is-invalid" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value }}" placeholder="" required>
                    <div class="invalid-feedback">{{ form.password.errors.0 }}</div> 
                    {% else %}
                    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value }}" placeholder="" required>
                    {% endif %}
                {% else %}
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="" required>
                {% endif %}
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            </div>

            <div class="form-floating my-3">
                {% if form.confirm_password.value %}
                    {% if form.confirm_password.errors %}
                    <input type="password" class="form-control is-invalid" id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.html_name }}" value="{{ form.confirm_password.value }}" placeholder="" required>
                    <div class="invalid-feedback">{{ form.confirm_password.errors.0 }}</div> 
                    {% else %}
                    <input type="password" class="form-control" id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.html_name }}" value="{{ form.confirm_password.value }}" placeholder="" required>
                    {% endif %}
                {% else %}
                <input type="password" class="form-control" id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.html_name }}" placeholder="" required>
                {% endif %}
                <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Sign Up">

        </form>
    </div>
</div>

{% endblock content %}